<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <!-- <link rel="stylesheet" href="style4.css"> -->
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f0f2f5;
      color: #1c1e21;
    }

    main {
      height: 90vh;
      width: 100vw;
      position: relative;
      margin: 0 auto;
    }

    footer {
      height: 10vh;
      background-color: #ffffff;
    }

    h2 {
      font-family: 'Poppins', sans-serif;
      font-weight: 900
    }

    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      max-width: 1000px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .colm-logo {
      flex: 0 0 50%;
      text-align: left;
    }

    .colm-form {
      flex: 0 0 40%;
      text-align: center;
    }

    .colm-logo img {
      max-width: 400px;
    }

    .colm-logo h2 {
      font: 26px;
      font-weight: 400;
      padding: 0 30px;
      line-height: 32px;
    }

    .colm-form .form-container {
      background-color: #ffffff;
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      padding: 20px;
      max-width: 400px;
      text-decoration: none;
      list-style: none;

    }

    .colm-form .form-container input,
    .colm-form .form-container .btn-new {
      width: 100%;
      margin: 5px 0;
      height: 45px;
      vertical-align: middle;
      font-size: 16px;
    }

    .colm-form .form-container input {
      border: 1px solid #dddfe2;
      color: #1d2129;
      padding: 0 8px;
      outline: none;
    }

    .colm-form .form-container input:focus {
      border-color: #1877f2;
      box-shadow: 0 0 0 2px #e7f3ff;
    }

    .colm-form .form-container .btn-new {
      background-color: #1877f2;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      padding: 0 16px;
      color: #ffffff;
      font-weight: 700;
      text-decoration: none;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .colm-form .form-container a {
      display: block;
      color: #1877f2;
      font-size: 14px;
      text-decoration: none;
      padding: 10px 0 20px;
      border-bottom: 1px solid #dadde1;
      list-style: none;
      text-decoration: none;
    }

    .colm-form .form-container a:hover {
      text-decoration: none;
      list-style: none;
    }

    .colm-form .form-container .btn-login {
      background-color: #42b72a;
      border: none;
      border-radius: 6px;
      font-size: 20px;
      line-height: 48px;
      padding: 0 16px;
      color: #ffffff;
      font-weight: 700;
      margin-top: 20px;
      text-decoration: none;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .colm-form p {
      font-size: 14px;
    }

    .colm-form p a {
      text-decoration: none;
      color: #1c1e21;
      font-weight: 600;
    }

    .colm-form li p a:hover {
      list-style: none;
      text-decoration: none;
    }

    .footer-contents {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
    }

    footer ol {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 10px 0;
    }

    footer ol:first-child {
      border-bottom: 1px solid #dddfe2;
    }

    footer ol:first-child li:last-child button {
      background-color: #f5f6f7;
      border: 1px solid #ccd0d5;
      outline: none;
      color: #4b4f56;
      padding: 0 8px;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
    }

    footer ol li {
      padding-right: 15px;
      font-size: 12px;
      color: #385898;
    }

    footer ol li a {
      text-decoration: none;
      color: #385898;
    }

    footer ol li a:hover {
      text-decoration: none;
      list-style: none;
    }

    footer small {
      font-size: 11px;
    }

    .login-form {
      width: 400px;
      height: 400px;
      margin: 1rem auto;
    }

    .input-group {
      width: 100%;
    }

    .input-group label {
      display: block;
    }

    .input-group input {
      width: 100%;
    }

    button {
      padding: 10px 17px;
      margin-top: 1rem;
      font-size: 1rem;
      background: #eee;
      border: 1px solid #333;
      cursor: pointer;
    }
  </style>

</head>

<body>
  <main>
    <div class="row">
      <div class="colm-logo">
        <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Logo">
        <h2>Регистрация</h2>
      </div>
      <div class="colm-form">
        <div class="form-container">

          <% if(err) { %>
            <p style="color: red;">
              <%= err %>
            </p>
            <% } %>
              <form action="/register" method="POST">
                <div class="input-group">
                  <input type="text" name="username" placeholder="Имя пользователя" />
                </div>
                <div class="input-group">
                  <input type="email" name="email" placeholder="Электронная почта" />
                </div>
                <div class="input-group">
                  <input type="password" name="password" placeholder="Пароль" />
                </div>
                <button class="btn-new">Зарегистрироваться</button>
              </form>
              
        </div>
        <a href="/login" class="btn-login">Авторизация</a>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-contents">
      <ol>
        <li>English (UK)</li>
        <li><button>+</button></li>
      </ol>

    </div>
  </footer>
</body>

</html>